<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>archive</title>
</head>
<body>
<div class="main-wrapper"><input class="style47" type="search" placeholder="search">
    <div class="archivesolerow1">
        <ul class="style61">
            <li><a class="style62">Ole</a></li>
            <li><a class="style63">Peter</a></li>
            <li><a class="style64">Katrine</a></li>
        </ul>
        <div class="archivesolerow1column1"><textarea class="style49" placeholder="Name"></textarea><textarea class="style53" placeholder="Parent Name"></textarea><textarea class="style55" placeholder="tlf nr."></textarea></div>
        <div class="archivesolerow1column2">
            <div class="archivesolerow1column2unsupported0 unsupported"></div><textarea class="style57" placeholder="Ole"></textarea><input class="style51" type="text" placeholder="Jens"><textarea class="style59" placeholder="22222222"></textarea></div>
    </div>
</div>
</body>
</html>