<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employees</title>
</head>
<body>
<div class="main-wrapper">
    <div class="employeesrow0">
        <div class="employeesrow0unsupported0 unsupported"></div>
        <div class="employeesrow0column1"><img class="style69" src="http://tako.assets.yotako.io/images/brand/big-octo.png" alt="An amazing Yotako poulp"><textarea class="style66" placeholder="Noter"></textarea>
            <p class="style65">Advarsel 1: Den 5/10/19 Råbte marco af et barn.&nbsp;&nbsp;</p>
            <p class="style68">Marco bad om lønforhøjelse og fik det, ha n tjener nu 98 kr/t.</p>
        </div>
    </div>
</div>
</body>
</html>