<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="../static/css/index.css" th:href="@{/static/css/index.css}" rel="stylesheet" type="text/css"   />
</head>



<body>
<header>
    <section class="main">
        <div class="news" >
            <newsContainer>
                <!-- this container have a picture using 3/4 of the space and a element box using 1/4. the element box has 3 boxes: 1. author, 2. post, 3. comments   width = 500  -->
                <!-- img size = 900px 375px,  box size = 900px 125 px   -->
                <elementBox>
                </elementBox>
            </newsContainer>
        </div>

        <div class="menu">
            <ul>

                <li>
                    <div>
                        <a href="/archive">
                            <button>
                                <img src="../static/icons/archive.png" alt="error" th:src="@{/icons/archive.png}">
                                ARCHIVE
                            </button>
                        </a>
                    </div>
                </li>

                <li>
                    <div>
                        <a href="/schedule">
                            <button>
                                <img src="../static/icons/schedule.png" alt="error" th:src="@{/icons/schedule.png}">
                                SCHEDULE
                            </button>
                        </a>
                    </div>
                </li>

                <li>
                    <div>
                        <a href="/employees">
                            <button>
                                <img src="../static/icons/employees.png" alt="error" th:src="@{/icons/employees.png}">
                                EMPLOYEES
                            </button>
                        </a>
                    </div>
                </li>

            </ul>

        </div>

    </section>
</header>


</body>

</html>